@page "/edit/hamster/{id:int}"

<h3>EditHamster</h3>

@code {
    [Parameter]
    public int Id { get; set; }

    private Hamster hamter { get; set; }

    async Task GetSingleHamster()
    {
        
    }
}
