@page "/"

<PageTitle>Index</PageTitle>
    <div class="welcomeHolder">
      <div class="welcomeBg ">
             
               <div class="row justify-content-md-center">
                   <div class="col col-md-auto welcomeColumn">
                        <h2 class="welcomeMessage">Welcome To Hamster Wars</h2>
                        <h3 class="subTextWelcome">Who is the cutest of them all?!</h3>
                        <h3 class="subTextWelcome"><span><strong>You</strong></span> decide!</h3>
                        <div class="d-flex justify-content-center" >
                        <a class="btn btn-secondary welcomeButton" href="/battle">Vote Now! </a>
                        <a class="btn btn-secondary welcomeButton" href="/Gallery">Check out the cuties!</a>
                        </div>
                         </div>

               </div>
        </div>
                <div class="row justify-content-center">
                <div class=" col-md-auto">
                <img src="/images/welcomeVS.png"class=" img-fluid welcomeImage "/>
                </div>
           </div>
            
       
  </div>

<div class="IndexInfo">
   
    <div class="row ">
       <div class="col-md-6 ">
        <img src="/images/huh-hamster.png" class="sideHamster img-fluid"/>
        <img src="/images/confidentHamster.png" class="sideHamster img-fluid"/>
       
      
    </div>
        <div class="col-md-6 text-center">
             <h2>What is this?!</h2>
             <p>Some hamster crazy people decided to find the cutest hamster of them all! What can we say we aim to please and now you have this chance to find the one and only hamster that dazzle us with its cuteness! What a hard life!</p><br />
             <hr />
             <h2>How does this site work?!</h2>
             
             <p>Well funny you have asked that! If you have found this side , CONGRATULATIONS! The hard bit is done ! You have already achieved greatness!
                 <br />
                 <br />
                Well here on the <strong>Home</strong> page, you get to read my silly willy commentary of how with all works, but at least I hope you are enjoying
                these cute pictures!
                <br />
                <br />
                On the <strong>Battle</strong> page, that where all the fun begins (or at least the whole 10 minutes of it)! You will get a choice of two hamsters. You have the hard
                task of choosing which one you think is the cutest! We know sometimes the choices will brake your heart, but someone has to make the decision,
                You can hover your mouse above the hamster picture to learn all its little secrets. Once you ready to choose, click on the picture....and you are DONE!Now
                that wasn't so hard now was it? There you can also see lite statistics if other people agree with you or not.... don't worry.. no one is judging your life choices!
                <br />
                <br />
                On the <strong>Gallery</strong> can you check out all the greatness cutest hamster you can find! Check them out buy hovering mouse over them! I am sure they do not mind!
                <br />
                <br />
                You think you got what it takes?! Wellll... on the <strong>Join the Fun</strong> page can your hamster join in the war for glory! Just fill in its information,
                pick the cutest photo and click "Create"... I promise it is not that hard!
                <br />
                <br />
                Bored and got nothing to do?! Well <strong>Lucky star</strong> side is just for you! If you press that button you will be graced
                with one of the hamster presence. Don't be shy and keep pressing the button to meet more of them! If you see them again and again... maybe it is destiny ;)
                <br />
                <br />
                <hr />
                <h2>.... and some final words of advice:</h2>
                <br />
                <h1>HAVE FUN!</h1>
                <img src="/images/flower-hamster.png" class=" endOfIntro "/>
                <p>Lots of love, Gerda</p>

            </p>
            </div>
    </div>
</div>


