

<nav class="navbar navbar-expand-md mb-4 navbar-dark " style="background-color: deepskyblue; color:navy">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/logo.png" alt="logo" width="35" height="29" class="d-inline-block align-text-top"/>  Hamster Wars</a>
        <div class="navbar-expand">
            <ul class="navbar-nav me-auto mb-2 ">
                <li class="nav-item">
                    <NavLink class="nav-link" href="">
                       <span class="oi oi-home"></span Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Battle">
                        <span class="oi oi-flash"></span> Battle
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Gallery">
                        <span class="oi oi-image"></span> Gallery
                    </NavLink>
                </li> 
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Hamster">
                        <span class="oi oi-pencil"></span> Join the fun!
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-star"></span> Feeling Lucky?
                    </NavLink>
                </li>
            </ul>
       </div>

    </div>
</nav>

@code {
   
    
}
