body {
}


.battleTop {
    margin: 100px auto;
    text-align: center;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.results {
    background-color: white;
    height:auto;
   
}
.result-title {
    text-align: center;
    padding: 50px;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    margin:50px 50px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.bottom-right {
  
    bottom: 8px;
    left: 16px;
    color: white;
    background-color: deeppink;
    width: 101%;
}


.container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

    .container .card:hover {
        height: 450px;
    }

    .container .card .imgContainer {
        position: relative;
        width: 250px;
        height: 250px;
        top: -50px;
        left: 10px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    }

        .container .card .imgContainer img {
            max-width: 100%;
            border-radius: 4px;
        }

    .container .card .content {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: #111;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease-in-out;
    }

    .container .card:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
    }

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px;
    }
}